{% extends 'default.twig' %}
{% block title %} Employee list {% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="styles/list.css">
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="application/javascript" src="scripts/employee.js"></script>
    <script type="application/javascript" src="bundles/fosjsrouting/js/router.min.js"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block body %}
    <h1>Employees</h1>
    <main id="content">
        <input id="search" placeholder="Search for name..." />
        <table></table>
    </main>
    <footer>
        {% if canEdit %}
        <a class="action" href="{{ path('employee_create', {'username': ' '}) }}">New employee</a>
        {% endif %}
    </footer>
{% endblock %}