{% extends 'base.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block content %}
<div class="info-card">
    <h2>Edit Group</h2>

    {{ include('group/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('group/_delete_form.html.twig') }}
</div>
{% endblock %}
