{% extends 'default.twig' %}
{% block title %}Log in{% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="styles/form.css">
{% endblock %}
{% block body %}
    <h1>Sign in</h1>
    <main id="form">
        <form method="post">
            <div class="form-row error">
                {% if error %}
                    <ul><li>{{ error.messageKey }}</li></ul>
                {% endif %}
            </div>
            <div class="form-row">
                <label for="input_name" class="required">Name</label>
                <input type="text" id="input_name" name="name" value="{{ last_username }}" autocomplete="username" required autofocus>
            </div>
            <div class="form-row">
                <label for="input_password">Password</label>
                <input type="password" id="input_password" name="password" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div>
                <button type="submit">Sign in</button>
            </div>
        </form>
    </main>
{% endblock %}
