<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evidence Zamestnancu</title>

    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/datatable.css">
</head>
<body>
    <div class="table-wrapper">
        <section class="above-table">
            <h2>Users</h2>
            <div class="table-filter">
                <input type="text" name="filter" id="filter" placeholder="Filter">
                <input type="submit" value="Search">
            </div>
        </section>
    
        <section class="table">
            <section class="table-header">
                <ol>
                    <li>Id</li>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Phone number</li>
                </ol>
            </section>
            <section class="table-content">
                <article class="table-row">
                    <ol>
                        <li>1</li>
                        <li>John Doe</li>
                        <li>j.d@gmail.com</li>
                        <li>+420 111 222 333</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
                <article class="table-row">
                    <ol>
                        <li>2</li>
                        <li>Dohn Joe</li>
                        <li>d.j@gmail.com</li>
                        <li>+420 789 789 789</li>
                    </ol>
                </article>
            </section>
        </section>
    
        <section class="data-cards">
    
            <article class="info-card">
                <h2>John Doe (1)</h2>
                <ol>
                    <li>
                        <h3>Email:</h3>
                        <p>j.d@gmail.com</p>
                    </li>
                    <li>
                        <h3>Phone number:</h3>
                        <p>+420 111 222 333</p>
                    </li>
                </ol>
            </article>
    
            <article class="info-card">
                <h2>Dohn Joe (2)</h2>
                <ol>
                    <li>
                        <h3>Email:</h3>
                        <p>d.j@gmail.com</p>
                    </li>
                    <li>
                        <h3>Phone number:</h3>
                        <p>+420 789 789 789</p>
                    </li>
                </ol>
            </article>
    
            <article class="info-card">
                <h2>Dohn Joe (2)</h2>
                <ol>
                    <li>
                        <h3>Email:</h3>
                        <p>d.j@gmail.com</p>
                    </li>
                    <li>
                        <h3>Phone number:</h3>
                        <p>+420 789 789 789</p>
                    </li>
                </ol>
            </article>
    
            <article class="info-card">
                <h2>Dohn Joe (2)</h2>
                <ol>
                    <li>
                        <h3>Email:</h3>
                        <p>d.j@gmail.com</p>
                    </li>
                    <li>
                        <h3>Phone number:</h3>
                        <p>+420 789 789 789</p>
                    </li>
                </ol>
            </article>
    
            <article class="info-card">
                <h2>Dohn Joe (2)</h2>
                <ol>
                    <li>
                        <h3>Email:</h3>
                        <p>d.j@gmail.com</p>
                    </li>
                    <li>
                        <h3>Phone number:</h3>
                        <p>+420 789 789 789</p>
                    </li>
                </ol>
            </article>
    
        </section>
    
        <section class="bellow-table">
            <nav>
                <ol class="pages">
                    <li><a href="#" class="active-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ol>
            </nav>
            <button>Add user</button>
        </section>    
    </div>
</body>
</html>