<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roomer | Profile</title>

    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/profile.css">
</head>
<body>
    <div class="page-container">
        <main class="page-content">
            <section id="profile" class="info-card">
                <div id="profile-pic">
                    <img src="../resources/profilePic.png" alt="Profile picture">
                </div>
                <div id="profile-info">
                    <h2>Info</h2>
                    <ul>
                        <li>
                            <h3>Name</h3>
                            <p>John Smith</p>
                        </li>
                        <li>
                            <h3>Email</h3>
                            <p>smith.john@gmail.com</p>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            <p>+420 123 456 789</p>
                        </li>
                        <li>
                            <h3>Roles</h3>
                            <ul id="role-list">
                                <li>U</li>
                                <li>GM</li>
                                <li>RM</li>
                                <li>A</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="actions" class="info-card">
                <h2>Actions</h2>
                <ul id="action-list">
                    <li>
                        <a href="#">Generate new password</a>
                    </li>
                    <li>
                        <a href="#">Edit profile</a>
                    </li>
                </ul>
            </section>

        </main>
    </div>
</body>
</html>